
header{
    border-bottom: 1px solid #f1f1f1;
}

#logo span{
    color: #20c997;
}

#homeBanner{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 27%, rgba(233,233,233,1) 100%);
}

.colContentInner{}

.green{
    color: #20c997;
}
#popularCourses .card .card-body{
    position: relative;
}
.classLevel{
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 6px 14px;
    border-radius: 25px;
    background-color: blueviolet;
    position: absolute;
    top: -16px;
}

#featuresHilightBar{
    background-color:#6610f2;
}
#featuresHilightBar .icon{
    font-size: 50px;
    color: #fff;
}
#featuresHilightBar h3{
    color: #fff;
} 